<ul>
    {% for post in posts %}
        <li>
                        <h3><a href="{{ path('blog_post_view', { 'slug': post.slug }) }}">{{ post.title }}</a></h3>

            
        </li>
    {% endfor %}

 
</ul>