{% extends 'StfalconBlogBundle::layout.html.twig' %}

{% block content %}


 <div class="page secondary">

        <div class="page-header">
            <div class="page-header-content">
                <h1>Vamsi<small>blog</small></h1>
                <a href="/" class="back-button big page-back"></a>
            </div>
        </div>
 <div class="page-region">
            <div class="page-region-content">

    {% if posts %}
        {% include 'StfalconBlogBundle:Post:_posts.html.twig' with {'posts': posts} %}

        {{ posts.render()|raw }}
    </div>
</div>
</div>
    {% endif %}
{% endblock %}